/* 
Don't want to use sass and simply modify the stylesheet in the old css fashion? 
Just customize your theme here.
================================================== */

body {
    background:#f0fafa;
    height: auto;
}


@media (min-width: 1200px) {
    .main-container {
        max-width: 1500px;
    }
}

.hero {
    background: #80eaf1;
    background: #A7E6E6;
    min-height: 800px;
    color: #1A1A2E;
}

.navigation-wrap {	
   background:#e4f8fc;
   border-bottom: 3px solid #e4f8fc;
   margin-bottom: 50px;
}

.card-block{
    padding: 7px 0 7px 7px;
}

.footer{
    background: #d3f3f8;
    width: 100%;
    min-width: 100%;
    bottom: 0;
}